body {margin: 0;}

#logo {
    background: url("../resources/main/logo.svg") no-repeat;
    position: absolute;
    width: 130px;
    height: 39px;
    left: 430px;
    z-index: 10001;
}

#gameCanvas, #gmCanvas, #animationCanvas     {
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}


@font-face {
    font-family: 'multicolore_regular';
    src: url('../resources/fonts/multicolore-webfont.woff2') format('woff2'),
    url('../resources/fonts/multicolore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bubblegumregular';
    src: url('../resources/fonts/bubblegum-webfont.woff2') format('woff2'),
    url('../resources/fonts/bubblegum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'calibri';
    src: url('../resources/fonts/calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'calibrib';
    src: url('../resources/fonts/calibrib.ttf') format('truetype');
}

@font-face {
    font-family: 'calibrii';
    src: url('../resources/fonts/calibrii.ttf') format('truetype');
}

@font-face {
    font-family: 'calibriz';
    src: url('../resources/fonts/calibriz.ttf') format('truetype');
}

.preloadHolder {position: absolute; top: -2000px;}
.preloadHolder img {position: absolute; top: 0; left: 0;}
.font {opacity: 0.99; font-size: 1px; color: #FFF;}
.calibri    {font-family: calibri;}
.calibrii   {font-family: calibrii;}
.calibrib   {font-family: calibrib;}
.calibriz   {font-family: calibriz;}
.bubblegumregular   {font-family: bubblegumregular;}
.multicolore_regular   {font-family: multicolore_regular;}